* {
   
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Sans", sans-serif;
   
}

form {
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
   
}
.form-group{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

legend{
  font-weight: bold;
}

input{
    margin-bottom: 2%;
    
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
    width: 50%;
  }
  input[type="number"],
  input[type="color"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"] {
    width: 20%;
  }

  textarea{
    width: 50%;
    margin-top: 1%;
  }

  fieldset{
    margin-bottom: 3%;
  }
  
  .github{
    margin-top: 2%;
    flex-direction: column;

  }

  .foto-perfil{
    margin-bottom: 1%;
    margin-top: 3%;

  }

  .nivel-conhecimento{
margin-top: 3%;
  }

  optgroup {
    padding-left: 1%;
    padding-top: 1%;
  }

  .parte-final {
    display: flex;
    flex-direction: column;
}

.parte-final .aceito {
    align-self: flex-start;  /* Mantém o checkbox alinhado à esquerda */
}

.parte-final button {
    width: 25%;              /* Largura do botão */
    margin-top: 3%;          /* Espaçamento entre o botão e o restante */
    align-self: center;      /* Centraliza o botão */
}

.botao-enviar {
    text-align: center;      /* Centraliza o texto dentro do botão */
    padding: 1%;
    font-size: large;
    margin-bottom: 2%;
}

.aceito input[type="checkbox"] {
    transform: scale(2.0);   /* Aumenta o tamanho do checkbox */
    margin-right: 1%;        /* Espaçamento à direita do checkbox */
}
